[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "cdsetool"
version = "0.2.9"
authors = [
  { name="Jacob Vejby", email="javej@sdfi.dk" },
]
description = "Tools & CLI for interacting with CDSE product APIs"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
  "Programming Language :: Python :: 3",
  "Operating System :: OS Independent",
]
dependencies = [
  "typer >= 0.9,< 0.13",
  "rich >= 13.6,< 13.8",
  "requests >= 2.28.1,< 2.32.0",
  "pyjwt[crypto] ~= 2.8.0",
  "geopandas >= 0.13.2",
]
[project.optional-dependencies]
test = [
    "black==24.4.2",
    "pylint==3.1.0",
    "pytest==8.2.0",
    "pytest-cov==5.0.0",
    "requests-mock==1.12.1",
    "pytest-mock==3.14.0",
]

[project.urls]
"Homepage" = "https://github.com/SDFIdk/CDSETool"
"Bug Tracker" = "https://github.com/SDFIdk/CDSETool/issues"

[project.scripts]
cdsetool = "cdsetool:cli.main"

[tool.pylint.design]
max-locals = 20

[tool.pylint.format]
max-line-length = "88"
disable="fixme"

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
]
