[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "cdsetool"
version = "0.1.3"
authors = [
  { name="Jacob Vejby", email="javej@sdfi.dk" },
]
description = "Tools & CLI for interacting with CDSE product APIs"
readme = "README.md"
requires-python = ">=3.0"
classifiers = [
  "Programming Language :: Python :: 3",
  "Operating System :: OS Independent",
]
dependencies = [
  "typer ~= 0.9.0",
  "rich ~= 13.6.0",
  "requests ~= 2.28.1",
]
[project.optional-dependencies]
test = [
    "black==23.11.0",
    "pylint==3.0.2",
    "pytest==7.4.3",
    "pytest-cov==4.1.0",
]
shape = [
    "geopandas==0.13.2",
]

[project.urls]
"Homepage" = "https://github.com/SDFIdk/CDSETool"
"Bug Tracker" = "https://github.com/SDFIdk/CDSETool/issues"

[project.scripts]
cdsetool = "cdsetool:cli.main"

[tool.pylint.format]
max-line-length = "88"
disable="fixme"

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
]
