[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

[project]
name = "cdsetool"
version = "0.2.6"
authors = [
  { name="Jacob Vejby", email="javej@sdfi.dk" },
]
description = "Tools & CLI for interacting with CDSE product APIs"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
  "Programming Language :: Python :: 3",
  "Operating System :: OS Independent",
]
dependencies = [
  "typer ~= 0.9.0",
  "rich >= 13.6,< 13.8",
  "requests >= 2.28.1,< 2.32.0",
  "pyjwt[crypto] ~= 2.8.0",
  "geopandas >= 0.13.2",
]
[project.optional-dependencies]
test = [
    "black==24.2.0",
    "pylint==3.0.3",
    "pytest==8.1.1",
    "pytest-cov==4.1.0",
    "requests-mock==1.11.0",
    "pytest-mock==3.12.0",
]

[project.urls]
"Homepage" = "https://github.com/SDFIdk/CDSETool"
"Bug Tracker" = "https://github.com/SDFIdk/CDSETool/issues"

[project.scripts]
cdsetool = "cdsetool:cli.main"

[tool.pylint.design]
max-locals = 20

[tool.pylint.format]
max-line-length = "88"
disable="fixme"

[tool.pytest.ini_options]
addopts = [
    "--import-mode=importlib",
]
